[buildout]
develop = .
extends = versions.cfg
parts = py.test
extensions = mr.developer
versions = versions
find-links = http://pypi.dolmen-project.org/find-links
sources = sources
auto-checkout = *
always-checkout = true
sources-dir = checkouts
newest = false
show-picked-versions = true


[sources]
ul.browser = git git@github.com:novareto/ul.browser.git
ul.content = git git@github.com:novareto/ul.content.git


[py.test]
recipe = zc.recipe.egg
initialization =
  import sys
  if not sys.argv[1:]: sys.argv.append('src')
eggs =
     pytest
     ul.zodb
