[buildout]
develop = .
extends = versions.cfg
parts = py.test
versions = versions
find-links = http://pypi.dolmen-project.org/find-links
	     http://dev.bg-kooperation.de/pypi/simple
newest = false


[py.test]
recipe = zc.recipe.egg
initialization =
  import sys
  if not sys.argv[1:]: sys.argv.append('src')
eggs =
     pytest
     ul.zodb[test]
